html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* padding-bottom: 200px; */
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

body {
    line-height: 1;
    overflow-x: hidden;
    max-width: 100%;
}
@font-face {
    font-family: "flood-std";
    src: url("./../asserts/fonts/flood-std-regular_Jpl5d/Flood Std Regular/Flood Std Regular.otf");
}


a {
    color: #354463;
}

main {
    margin-top: 5%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.navbar_links {
    display: flex;
    flex-direction: column;
    width: 44%;
    align-items: last baseline;
}


.navbar_ref {
    color: #354463;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 5px;
}

.contact_us_title,
.title {
    color: #333333;
    width: 42%;
    font-family: poynter-oldstyle-display, sans-serif;
    font-size: 20px;

}

.donate-now {
    margin-top: 10%;
}

.subscribe_button,
.read_more_stories,
.take_action_today_button,
.what_we_do_list_item_button,
.save_the_tree_read_more,
.donate-now {
    width: 100%;
    border-radius: 45px;
    background-color: #aaf0c4;
    padding: 3.5%;
    text-align: center;
    font-family: poynter-oldstyle-display, sans-serif;
    color: #354463;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 3%;
}

/* ...................stop climate change poster ............................. */

.stop_climate_change_poster {
    position: relative;
    background-image: url(../asserts/images/home/annie-spratt-135307-unsplash.png);
    background-repeat: no-repeat;
    background-position: 78%, 0%;
    background-size: 249% 107%;
    padding: 50% 2% 67% 2%;
    object-fit: cover;
}

.stop_climate_change_title_end,
.actions_to_save_future_title,
.did_you_know_title,
.stop_climate_change_title {
    font-family: "flood-std";
    color: white;
    position: absolute;
    top: 10%;
    left: 7%;
    font-size: 44px;
    line-height: 46px;
    width: 40%;
}

.did_you_know_title {
    width: 75%;
}

.stop_climate_change_poster_discription {
    position: absolute;
    right: 5%;
    bottom: 10%;
    background-color: #fff;
    color: #354463;
    width: 90%;
    padding: 7% 5% 5% 5%;
    text-align: center;
}

.stop_climate_change_text {
    text-align: center;
    font-weight: 800;
    margin-top: 0px;
    color: #354463;
    font-size: 5vi;
    line-height: 6vi;
    margin-bottom: 3%;
    letter-spacing: 1px;
}

.read_more_envirement_a {
   
    /* bottom: 2vh; */
    color: #354463;
    letter-spacing: 1px;
    line-height: 25px;
    /* right: 0.5vw; */
    font-size: 2vi;
}


.event_box,
.stories_box,
.did_you_know_box,
.what_we_do_box,
.take_action,
.the_issue {
    background-color: #354463;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    top: -9%;
    left: 25%;
    width: 40vw;
    padding: 2%;
    position: absolute;
    align-content: center;
}

/* .................take action ....................... */
.take_action_section {
    position: relative;
    background-color: #aaf0c4;
    padding-top: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40vh;
    width: 100%;
    padding-left: 7vw;
    padding-right: 3vw;
}

.take_action_flex {
    
    width: 45vw;
    /* background-color: #333333; */

}

.type_of_action {
    font-size: 18px;
    line-height: 22px;
    font-family: poynter-oldstyle-display, sans-serif;
    color: #354463;
    margin-bottom: 5%;
    /* font-weight: ; */
    font-size: 16px;
    font-weight: bold;
}

.action_discription {
    font-family: sans-serif;
    margin-bottom: 5%;
    color: #354463;
    font-size: 13px;
    width: 42.3vw;
    font-weight: 300;
    line-height: 1.5rem;
}

.take_action {
    margin: 5%;
    top: -14%;

}

/* .................what we do ....................... */
.what_we_do_section {
    padding: 5%;
    background-color: #354463;
    /* background-color: black; */

}

.what_we_do_box {
    position: static;
    font-family: sans-serif;
    margin-left: 28%;
    background-color: #fff;
    color: #354463;
    font-size: 14px;
    font-weight: 300;
    margin-top: 8%;
}

.what_we_do_contet {
    margin-top: 8%;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
}

.what_we_do_list_item {
    background-color: #fff;
    color: #354463;
    position: relative;
    margin-top: 40%;
    padding: 18% 11%;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.eduation_and_trinning,
.advocacy_and_campaigning,
.what_we_do_list_item_image {
    background-image: url("../asserts/images/home/tree-planting.png");
    position: absolute;

    width: 85%;
    background-size: 111%;
    left: 8%;
    background-repeat: no-repeat;
    top: -25%;
    padding: 27%;

}

.what_we_do_list_item_heading {
    margin-top: 20%;
    width: 70vw;
    font-size: 16px;
    /* letter-spacing: 1px; */
}

.what_we_do_list_item_content {
    margin-top: 6%;
    width: 89%;
    text-align: center;
    font-size: 13px;
    margin-left: 9%;
    color: #354463;
    line-height: 24px;
    /* font-weight: 300; */
    /* letter-spacing: 0px; */
    margin-bottom: 10%;

}


.what_we_do_list_item_button {
    padding: 0vh;
    width: 45%;
    height: 4.2vh;
    border: none;
}

.eduation_and_trinning {
    background-image: url("../asserts/images/home/education-training.png");
}

.advocacy_and_campaigning {
    background-image: url("../asserts/images/home/advocacy.png");
}

/* .......did you know................ */

.did_you_know {
    background-image: url("../asserts/images/home/did-you-know-background.png");
    background-repeat: no-repeat;
    background-size: 341% 100%;
    object-fit: cover;
    position: relative;
    background-position: 0% 242%;
    padding: 3%;
}

.take_action_today_button {
    width: 45%;
    margin-top: 75%;
    margin-left: 5%;

}

/*     */
.what_we_do_content_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #fff;
    padding: 6% 5% 5% 5%;
    margin-left: 3%;
    margin-bottom: 4%;

}




.what_we_do_title {
    color: #354463;
    font-size: 24px;
    /* line-height: 46px; */
    font-weight: 700;
    margin-bottom: 8px;
    width: 80%;
}

.facebook_logo,
.twitter_logo {
    height: 35px;
    width: 35px;
    margin-bottom: 11px;
    background-color: #aaf0c4;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 70px;
    background-image: url('../asserts/images/home/iconmonstr-twitter-1.png');
}

.what_we_do_content {
    font-size: 13px;
    font-weight: 300;
    color: #354463;
    width: 70%;
}

.facebook_logo {
    background-image: url('../asserts/images/home/iconmonstr-facebook-1.png');
}

.what_we_do_section_list {
    margin-top: 25%;
}

.parent_what_we_do_content_box {
    position: relative;
}

.did_you_know_box {
    top: -11%;
}


.stories_section {
    position: relative;
}

.stories_lady_baby {
    position: relative;
    width: 100%;
    align-self: center;
    height: 105%;
    padding: 5%;
    margin-left: 0%;
    margin-top: 10%;
}

.stories_box {
    top: 6%;
}

.stories_section_card {
    background-color: #354463;
    margin-left: 5%;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    padding: 10%;
    color: #fff;
    margin-right: 5%;
}

.stories_section_card_discription_farmer {
    font-size: 12px;
    font-weight: 200;
    margin-top: 13%;
}

.read_more_stories {
    width: 30%;
    margin-left: 33%;
    margin-top: 7%;
    height: 12%;
    margin-bottom: 2vh;
}

/* .............save future...................... */
.save_future_card {
    margin-bottom: 10%;
    padding: 5%;
    position: relative;
    margin-bottom: 10%;
}


.actions_to_save_future_section {
    margin-top: 15%;
    padding: 10%;
    padding-bottom: 10%;
    background-color: #354463;
    padding-bottom: 20%;
}



.actions_to_save_future_title {
    color: #fff;
    position: static;
    padding: 8%;
    width: 100%;
    text-align: center;
}

.save_the_future_image1 {
    margin-bottom: 10%;

}

.save_the_future_trees {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;


    width: 90vw;
    margin-left: -13%;
}

.event_box {
    background-color: #fff;
    color: black;

    background-color: #fff;
    color: black;
    top: 0%;
    height: 4%;
}

.save_the_tree_title {
    margin-top: 7%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
    width: 87vw;
    margin-left: -10%;
}

.save_the_tree_discription {
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: 6%;
    font-size: 17px;
}

.save_the_tree_read_more {
    width: 48%;
    margin-top: 10%;
    margin-left: 25%;
}

/* ................subscribe to monthly letters.................................... */


.subscribe_to_letter_section {
    background-color: #aaf0c4;
    padding: 4%;
    line-height: 28px;
}

.subscribe_statement {
    color: #354463;
    font-size: 5vi;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 3%;
}

.email_section {
    background-color: #fff;
    border: none;
    padding: 3%;
    border-radius: 52px;
    font-size: 17px;
    font-weight: 200;
    margin-top: 7%;
    text-align: center;
    width: 69%;
}

.subscribe_button {
    margin-left: 2%;
    background-color: #354463;
    padding: 3% 0%;
    font-size: 14px;
    width: 27%;
    color: #aaf0c4;
    font-weight: 600;
}


/* contactus */
.contact_us {
    width: 100vw;
    /* padding-bottom:30% ; */
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
}

.contact_us_title {
    width: 40%;
}

.address {
    width: 45%;
    color: #354463;
    font-size: 16px;
    letter-spacing: 1px;
}


.social_media_heading,
.contact_us_heading {
    font-size: 16px;
    padding-bottom: 3%;
    /* font- */
}

.learn_more_links,
.address_location {
    font-size: 14px;
    letter-spacing: 1px;
}

.learn_more_links,
.social_media_links {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #354463;
    width: 40%;
    margin-top: 10%;
}

.learn_more_links_heading,
.social_media_heading {
    color: #354463;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 5%;
}


.stop_climate_change_title_end {

    position: static;
    color: black;
    text-align: end;
    width: 50%;
    margin-left: 45%
}



@media screen and (min-width: 470px) {


    .title {
        width: 27%;
        padding-left: 4%;
        font-size: 1.5vi;
        font-weight: bold;
        line-height: 2vi;
        /* padding-right: 0%; */
    }

    main {
        margin-top: 1%;
    }

    .navbar {
        padding: 2% 5% 0% 2%;
        align-items: center;
        flex-wrap: nowrap;

    }

    .navbar_links {
        flex-direction: row;
        width: 46%;
        justify-content: space-between;
        font-size: 1.2vi;
        font-weight: 500;
        text-align: end;
        letter-spacing: 1px;


    }

    #nav_about_us {}

    #nav_story {}

    #news {}

    .navbar_ref {
        width: 33%;
    }

    .donate-now {
        padding: 1%;
        width: 11vi;
        margin-top: 0;
        font-size: 1vi;
        letter-spacing: 1px;
    }

    .the_issue {
        width: 13vi;
        left: 8%;
        font-size: 1.2vi;
        top: -6%;

    }

    .stop_climate_change_poster_discription {

        /* margin-top: 3%; */
        font-weight: bold;
        font-size: 3.9vi;
        text-align: left;
        /* margin-left: 1vi; */
        line-height: 0vi;
        letter-spacing: 0px;
        /* right: unset; */
        top: 24%;
        bottom: unset;
        width: unset;
        padding: 2%;
        right: 53%;
        left: 5%;

       


    }

    .stop_climate_change_poster {
        background-size: 100% 100%;
        height: unset;
        padding: 17%;
        padding-bottom: 22%;
        background-size: unset;
        padding: 25%;
        padding-bottom: 20%;


    }

    .stop_climate_change_title {
        top: 24%;

        right: 20%;
        /* left: 57%; */
        width: 18%;
        left: unset;
        font-size: 6vi;
        line-height: 5vi;

    }

    .stop_climate_change_text {
        margin-top: 9%;
        font-weight: bold;
        font-size: 4vi;
        text-align: left;
        margin-left: 1vi;
        line-height: 4vi;
        letter-spacing: 1px;

    }

    .read_more_envirement_a {
        margin-top: 8%;
        letter-spacing: unset;
        right: unset;
        margin-left: 0%;
        padding: 0%;
        bottom: 0%;
        font-size: 1.1vi;
        margin-left: 2vi;
    }

    .what_we_do_section {

        padding-right: 0%;

    }

    .take_action_section {
        height: 20vh;
        align-items: start;
       
        padding-left: 6%;
        padding-right: 3vw;
        padding-top: 4vh;
    }

    .take_action {
        margin-top: unset;
        padding: 1%;
        width: 20%;
        left: 35%;
        font-size: 1.4vi;
        /* height: 20%; */
        /* padding-top: 1%; */
        top: -23%;

    }


    .type_of_action {
        margin-bottom: 3%;
    }

    .action_discription {
        width: 20vw;
        line-height: 1rem;
        letter-spacing: 1px;
        font-size: 1vi;
    }

    .take_action_flex {
        width: 25%;
    }

    .what_we_do_box {
        width: 20%;
        margin-left: 1%;
        margin-top: 0%;
        padding: 1%;
        font-size: 1.7vi;
    }

    .what_we_do_contet {
        margin-top: 4%;
        font-size: 2.54vi;
        line-height: 4vi;
        margin-left: 1%;
        text-align: unset;
        letter-spacing: 1px;
        padding-right: 2%;
    }

    .what_we_do_list_item {
        padding-top: 10%;
        padding-left: 1%;
        padding-bottom: 2%;
        padding-right: 1%;
        margin-top: 14%;
        width: 26%;
        display: inline-block;
        margin-left: 2%;
        margin-right: 4%;

    }


    .what_we_do_list_item_image {
        left: 9%;
        top: -15%;
        padding: 41%;
        padding-right: 41%;
        padding-bottom: 41%;
        padding-left: 41%;
        padding-left: 45%;
        padding-top: 45%;
        padding-bottom: 30%;
        padding-right: 57%;
    }

    .eduation_and_trinning,
    .advocacy_and_campaigning {
        left: 10%;
        top: -15%;
        padding: 48%;
        padding-top: 48%;
        padding-right: 48%;
        padding-bottom: 48%;
        padding-left: 50%;
    }

    .what_we_do_list_item_heading {
        text-align: start;
        width: 100%;
        font-size: 2.2vi;
        letter-spacing: 1px;
        margin-left: 8%;
        font-weight: 700;
    }

    .what_we_do_list_item_content {
        text-align: start;
        margin-top: 4%;
        font-size: 1.4vi;
        line-height: 2vi;
    }

    .what_we_do_list_item_button {
        margin-left: 0%;
        font-size: 1.2vi;
        margin-right: 42%;

    }

    .did_you_know_box {
        width: 26vb;
        left: 18%;
        top: -12%;
        letter-spacing: 1px;
    }

    .what_we_do_section_list {
        position: absolute;
        top: 8%;
        right: 5%;
        margin-top: unset;

    }

    .did_you_know {
        background-position: 0% 0%;
        padding: 0%;
        padding-bottom: 18%;
        padding-top: 59%;
        background-size: 100% 100%;
    }

    .did_you_know_title {
        font-size: 6.5vi;
        line-height: 7vi;
        top: 10%;
        width: 35%;
    }

    .take_action_today_button {
        position: absolute;
        width: 22%;
        margin-top: 7%;
        font-size: 11px;
        padding: 2%;
        margin-left: 7%;
        font-size: 1.5vi;
        top: 55%;
        letter-spacing: 1px;
    }

    .what_we_do_content_box {
        width: 42vw;
        padding: 6% 6% 2% 6%;
    }

    .facebook_logo,
    .twitter_logo {
        width: 4vi;
        background-size: 40%;
        height: 4vi;
        margin-bottom: 2%;

    }

    .facebook_logo {
        background-size: 27%;
    }

    .what_we_do_content {
        font-size: 1.1vi;
        letter-spacing: 2px;
        line-height: 2vi;

    }

    .what_we_do_title {
        font-size: 3vi;

    }

    .stories_section {
        padding: 31%;
    }

    .stories_title_image {
        position: absolute;
        top: 0%;
        width: 100%;
    }

    .stories_box {
        top: 19%;
        left: 7%;
        width: 12vw;
        font-size: 1.5vi;
        padding: 1%;
    }

    .stories_lady_baby {
        width: 65%;
    }


    .stories_section_card {
        bottom: 23%;
        position: absolute;
        background-color: #354463;
        margin-left: 0%;
        text-align: center;
        font-weight: bolder;
        text-align: start;
        font-size: 2.3vi;
        padding: 2.4%;
        height: 36%;
        color: #fff;
        margin-right: 0%;
        right: 58%;
        left: 7%;
        line-height: 2.5vi;

        font-size: 1.6vi;
    }

    .stories_section_card_discription_farmer {
        font-size: 1.3vi;
    }

    .read_more_stories {
        margin-left: unset;
        top: 80%;
        left: 7%;
        width: 20%;
        height: 8%;
        text-align: center;
        align-items: center;
        padding-bottom: 3%;
        padding-top: 2%;
        position: absolute;
    }

    .actions_to_save_future_section {
        
        margin-top: 7%;
        padding: 4%;
        position: relative;
        padding-bottom: 70%;

    }

    .actions_to_save_future_title {
        line-height: 6vi;
        text-align: start;
        width: 85%;
        padding: 2%;
        font-size: 6.4vi;
    }

    .save_the_tree_title {
        position: absolute;
        top: 17%;
        width: 30%;
        right: 05%;
        text-align: start;
        font-size: 2.5vi;

    }

    .save_the_future_trees {
        position: absolute;
        left: 15%;
        width: 51%;
        height: 264%;
    }

    .event_box {

        top: 25%;
        width: 12%;
        left: 65%;
        line-height: unset;
        font-size: 1vi;
        padding-top: 1%;

    }

    .save_the_tree_read_more {
        position: absolute;
        width: 20%;
        font-size: 2vi;
        top: 215%;
        right: 15%;
        padding: 1%;
    }

    .save_the_tree_discription {
        position: absolute;
        width: 35%;
        text-align: start;
        right: 0%;
        margin-top: 10%;
        font-size: 1.5vi;
        top: 87%;
        line-height: 3vi;

    }

    #news_image_id {
        margin-top: 37%;
        float: right;
        right: -3%;
        left: 56%;
        height: 275%;
        left: 64%;
    height: 275%;
    width: 49%;
    }

    #latest_news_id {
        margin-top: 37.5%;
        left: 2%;
        font-size: 1vi;
        width: 17%;
        height: 13%;
        padding-top: 2%;
        padding-top: 1%;
        padding-bottom: 2%;

    }

    #news_title {
        margin-top: 46%;
        left: 12%;
        line-height: 3.5vi;
    }

    #news_discription {
        font-size: 1.3vi;
        letter-spacing: 1px;
        margin-top: 10%;
        left: 1%;
        width: 34vw;
    }

    #news_read_more_button {
        margin-top: 54%;
        left: -24%;
        width: 61%;
        padding: 3% 5% 3% 5%;
        font-size: 2vi;
        font-weight: 800;
    }




    .subscribe_button {
        padding: 2% 0%;
        font-size: 1.5vi;
    }

    .email_section {
        padding: 2%;
        margin-top: 0%;
        width: 42%;
        font-size: 1.5vi;
        letter-spacing: 2px;

    }

    .subscribe_statement {
        margin-top: 0;
        font-size: 2.3vi;
        /* width: 60%; */
        width: 71%;
        letter-spacing: 0;
        line-height: 2.3vi;
        margin-right: 5%;
        margin-left: 3%;
    

    }

    .subscribe_to_letter_section {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 5%;
        padding-left: 6%;
        padding: 4%;
    }

    .contact_us_title {
        width: 18%;
        font-size: 1.8vi;
    }

    .social_media_links,
    .learn_more_links {
        width: 25%;
        margin-top: 0%;
    }

    .address {
        width: 23%;
        margin-top: 3%;

    }

    .contact_us {
        padding: 3%;
        width: 80%;
    }

    .stop_climate_change_title_end {
        position: absolute;
        width: 18%;
        right: -9%;
        left: 32%;
        top: 21%;
        font-size: 5vi;
    }

    .contact_us_section {
        position: relative;
        padding-left: 5%;
    
    }

    body {
        line-height: 1;
        overflow-x: hidden;
        max-width: 100%;
    }
    .learn_more_links_heading,
    .social_media_heading, .contact_us_heading {
       
        text-decoration: underline;
    }

}